<div class="mBtn"><a href="javascript:;">메뉴열기</a></div>
<nav class="mNav">
    <ul class="sub">
        <div class="closeBtn"><a href="javascript:;">메뉴닫기</a></div>
        <li><a href="#!">MBT</a>
            <ul>
                <li><a href="#!">MBTI측정</a></li>
                <li><a href="#!">MBTI등록</a></li>
                <li><a href="#!">MBTI궁합분석</a></li>
            </ul>
        </li>
        <li><a href="#!">지역설정</a></li>
        <li><a href="#!">마이페이지</a>
            <ul>
                <li><a href="#!">회원정보수정</a></li>
                <li><a href="#!">프로필수정</a></li>
                <li><a href="#!">회원탈퇴</a></li>
            </ul>
        </li>

    </ul>
</nav>